@model SeaCarp.Presentation.Models.ViewModels.SearchViewModel

<div class="container mt-4">
    <h2 class="mb-4">Showing matches for: "@Model.SeachQuery"</h2>

    <div class="row">
        @foreach (var product in Model.MatchingProducts)
{
    <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="~/images/products/@(product.ProductName).png"
                         class="card-img-top"
                         alt="@(product.ProductName)" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text flex-grow-1">@product.Description</p>
                        <p class="card-text flex-grow-1">@(product.Stock == 0 ? Html.Raw("<span style=\"color: #8a3838;\">Out of stock</span>") : $"{product.Stock} items in stock")</p>
                        <a href="/@nameof(ProductsController).RemoveControllerSuffix()/@product.Id" class="btn btn-primary mt-auto">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
}
    </div>
</div>
