@model IEnumerable<SeaCarp.Presentation.Models.ViewModels.ProductViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome to Sea Carp</h1>
    <p>Your ultimate destination for premium fishing gear and accessories.</p>
</div>

<div class="hero text-center bg-primary text-white py-5">
    <h2>Catch the Best Deals on Fishing Gear!</h2>
    <p>Rods, reels, bait, and everything you need for your next fishing adventure.</p>
    @if (RequestContext.Instance.CurrentUser.Value != null)
    {
        <a class="btn btn-light btn-lg" href="@Url.ActionLink(nameof(ProductsController.Index_MVC), nameof(ProductsController).RemoveControllerSuffix())">Shop Now</a>
    }
    else
    {
        <a class="btn btn-light btn-lg" href="@Url.ActionLink(nameof(IdentityController.LoginPage), nameof(IdentityController).RemoveControllerSuffix())">Log in to get started</a>
    }
</div>

<div class="container mt-5">
    <h2 class="text-center">Featured Products</h2>
    <div class="row">
        @foreach (var featuredProduct in Model)
{
    <div class="col-md-4">
                <div class="card">
                    <img src="~/images/products/@(featuredProduct.ProductName).png" class="card-img-top" alt="@(featuredProduct.ProductName)">
                    <div class="card-body">
                        <h5 class="card-title">@featuredProduct.ProductName</h5>
                        <p class="card-text">@featuredProduct.Description</p>
                        <p class="card-text">@(featuredProduct.Stock == 0 ? Html.Raw("<span style=\"color: #8a3838;\">Out of stock</span>") : $"{featuredProduct.Stock} items in stock")</p>
                        <a href="/@nameof(ProductsController).RemoveControllerSuffix()/@(featuredProduct.Id)" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
}
    </div>
</div>
